
#info {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid gray;
	/*box-shadow: 0px 5px 30px #cccccc;*/
}

#title-box {
	margin: 10px;
	float: left;
}

#description-box {
	margin: 10px;
	float: right;
	width: 60%;
}

h1 {
	margin: 0;
	margin-bottom: 10px;
}

#relation-graph {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: -1000;
}
